<!DOCTYPE html>
<html lang="en">

<head>
    <title>Disaster Finder Practice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/search.css" />
</head>

<body>
    <!-- User Logged in -->
    <div class="topnav">
        <p id="login">You are logged in as
            <span id="userName"></span> |
            <a href="index.html"> log out</a>
        </p>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">

        <h1>Disaster Finder</h1>
        <p>Don't let your next vacation be your last</p>
    </div>

    <!-- Navbar -->
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
        
            <div class="bg-dark p-4">
                <h5 class="text-white h4">See Disaster Results Below</h5>
                <span class="text-muted">Some locations may appear safe</span>
            </div>

            <div class="row">

                <div class="storms">
                    <div class="card">
                        <p>
                            <i class="fas fa-umbrella"></i>
                        </p>
                        <h3>15</h3>
                        <p>Hurricanes</p>
                    </div>
                </div>

                <div class="storms">
                    <div class="card">
                        <p>
                            <i class="fas fa-bolt"></i>
                        </p>
                        <h3>20</h3>
                        <p>Tropical Storms</p>
                    </div>
                </div>

                <div class="storms">
                    <div class="card">
                        <p>
                            <i class="fab fa-affiliatetheme"></i>
                        </p>
                        <h3>5</h3>
                        <p>Tornados</p>
                    </div>
                </div>

                <div class="storms">
                    <div class="card">
                        <p>
                            <i class="fas fa-fire"></i>
                        </p>
                        <h3>10</h3>
                        <p>Wild Fires</p>
                    </div>
                </div>

            </div>

        </div>

        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Enter Destination" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

    </div>
    <!-- Navbar End-->

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-6">
                <h2>Map</h2>
                <h5>Disaster Map</h5>
                <div class="fakeimg">Map Image</div>
                <p>DISPLAY MAP TEXT</p>
                <br>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco.
                </p>
            </div>
            <div class="col-sm-6">
                <h2>Disaster Information</h2>
                <h5>Location</h5>
                <div class="fakeimg">Table Data</div>
                <p>Display Data from table</p>
                <br>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-12">

                <h2>Saved Searches</h2>
                <h5>Title description 2</h5>

                <div class="fakeimg">Image</div>

                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco.
                </p>
            </div>
        </div>
    </div>


    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>

</body>


</html>