<!DOCTYPE html>
<html lang="en">

<head>
    <title>Disaster Finder Practice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/search.css" />
    <link async href="http://fonts.googleapis.com/css?family=Aladin" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"
    />
    <script src="../js/search.js"></script>
    <!-- <script src="../js/home.js"></script> -->


</head>

<body>
    <!-- User Logged in -->
    <div class="topnav">
        <p id="login">You are logged in as
            <span id="userName"></span> |
            <a href="index.html"> log out</a>
        </p>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 class="display-4">SCARE
            <span class="advisor">advisor</span>
        </h1>
        
        <div class="inset-text-effect" id="slogan">
            <p>Don't let your next vacation be your last......</p>
        </div>

    </div>

    <!-- Search Navbar -->
    <div class="bg-dark p-4">
        <div class="row">
            <div class="col-sm-4" style="text-align: center">
                <h5 class="text-white h4">See Disaster Results Below</h5>
                <span class="text-muted">Some locations may appear safe</span>
            </div>

            <div class="col-sm-4" style="text-align: center"></div>

            <div class="col-sm-4">
                <nav class="navbar navbar-dark bg-dark">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Enter Destination" aria-label="Search" id="searchField">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>

    <br>

    <!-- Results Cards -->
    <div class="row">
        <div class="col-sm-12">
            <div class="storms">
                <div class="card">
                    <p>
                        <i class="fas fa-home"></i>
                    </p>
                    <p id="stormNumber1">STATE</p>
                    <p id="stormThings1" style="color: whitesmoke"></p>
                </div>
            </div>

            <div class="storms">
                <div class="card">
                    <p>
                        <i class="fas fa-bolt"></i>
                    </p>
                    <p id="stormNumber2">STORM TYPE</p>
                    <p id="stormThings2" style="color: whitesmoke"></p>
                </div>
            </div>

            <div class="storms">
                <div class="card">
                    <p>
                        <i class="fas fa-skull"></i>
                    </p>
                    <p id="stormNumber3">DEATH COUNT</p>
                    <p id="stormThings3" style="color: whitesmoke"></p>
                </div>
            </div>

            <div class="storms">
                <div class="card">
                    <p>
                        <i class="fas fa-dollar-sign"></i>
                    </p>
                    <p id="stormNumber4">PROPERTY DAMAGE</p>
                    <p id="stormThings4" style="color: whitesmoke"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Location Table Data Results -->
    <div class="container" style="margin-top:30px">
        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8" id="location">
                <h2>Disaster Information</h2>
                <h5>Location</h5>
                <div class="location"></div>
                <p>Display Data from table</p>
                <button class="btn btn-success" type="submit" id="safe">Safe to Travel</button>
                <button class="btn btn-danger" type="submit" id="danger">Danger</button>
                <p>Review the statistics of your location search and decide if you want to mark your location as "Safe to Travel"
                    or "Danger".
                </p>
            </div>

            <div class="col-sm-2"></div>
        </div>

        <hr>

        <!-- Saved Searches -->
        <div class="row" id="savedSearches">
            <div class="col-sm-12">

                <h2>Saved Searches</h2>
                <h5>Here are your saved searches</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>SAFE TO VISIT</h3>
                        <div class="savedSearches" id="safeTravel"></div>
                    </div>

                    <div class="col-sm-6">
                        <h3>DANGEROUS TO VISIT</h3>
                        <div class="savedSearches" id="dangerTravel"></div>
                    </div>

                </div>

                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco.
                </p>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <h5>Brought to you by Mother Nature</h5>
        <br>
        <p>Powered By: Neal, Joe, Gary and Mike</p>
    </div>

</body>


</html>