body {
    background-image: url("../images/volcanoe.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.jumbotron {
    margin-top: 10px;
    background: none;
    text-align: center;
    color: white;
}
.forminput {
    width: 50%;
    margin-bottom: 20px;
}
.dropdown {
    text-align: center;
    margin-top: 20px;
}
#dropdownMenuButton {
    background-color: white;
    color: black
}
.btn-sm {
    width: 100%;   
}
h5 {
    color: black;
}
.modal-body {
    border: none;
}
.modal-content {
    background-image: url("https://media.giphy.com/media/gM2oBCulgfnpK/giphy.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    height:250px;
}
.my-4 {
    background-color: white;
}
.jumbotron2 {
    background-color: black;
    color: red;
}
#login {
    float: right;
}
.userForm {
    margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 4px;
}
.signUp {
    padding: 5px;
}
.display-4 {
    font-weight: bolder;
    text-shadow: 10px 1px 10px black;
}
.advisor {
   color: red;
   text-shadow: none;
}
#slogan {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 30px/1 "Aladin", Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: .5px .5px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
 }
 .modal-footer {
     border: none;
 }
#loginForm {
    opacity: .8;
}
#dropdownMenuButton {
    color: red;
}

