/* User Logged in */

.topnav {
    float: right;
    
}

body { 
    /* The image used */
    background-image: url("../images/background.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    color: red;
    margin-bottom: auto;
    background-color: rgb(68,68,68,.8);
}

.container {
    color: red;
    text-align: center;
    background-color: rgb(68,68,68,.8);
    
}

.map {
    height: 200px;
    background: #aaa;
}

.location {
    height: 200px;
    background: #aaa;
}

.savedSearches {
    height: 200px;
    background: #aaa;
}

/* ========Section Counter========== */

.storms {
    float: left;
    width: 25%;
    padding: 0 5px;

}

.row {
    margin: 2px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: red;
    font-size: 20px;
}

.fas {
    font-size: 50px;
}

.fab {
    font-size: 50px;
}

.fal {
    font-size: 50px;
}